.Rproj.user
.Rhistory
.RData
.Ruserdata
Biological data
Chlorophyll
Powerpoints
Metabolic rate
Norah's summer 2013 invasion mesocosm experiment
Temperature and Salinity
Write ups
Jilisa's data
**/CO2 parameter data
*.csv
*.xlsx
*.xls
*.doc
*.docx
*.ppt
*.pptx
**/Plots
**/Output Files
.RDataTmp
*.RDataTmp
**/History and Environment
*.png
*.tmp
*.jpeg
*.pdf